---
// src/components/events/EventFilter.astro
import type { EventCategory } from '../../types/Event';

interface Props {
  categories: EventCategory[];
}

const { categories } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-2 sm:gap-3 md:gap-4 mb-6 sm:mb-8 overflow-x-auto py-2 px-2 sm:px-0 max-w-full">
  {categories.map(category => (
    <button
      data-categorybutton={category.id}
      class={`
        ${category.id == 'todos' ? "bg-primary-500 text-white" : "bg-white text-primary-900"}
        px-3 py-1.5 sm:px-4 sm:py-2 text-sm sm:text-base rounded-full 
        hover:bg-primary-500 hover:text-white transition-colors duration-200
        whitespace-nowrap min-w-[80px] sm:min-w-[100px] flex-shrink-0
        shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-400
      `}
    >
      {category.name}
    </button>
  ))}
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll<HTMLButtonElement>('[data-categorybutton]');
    
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => {
          btn.classList.remove('bg-primary-500', 'text-white')
          btn.classList.add('bg-white', 'text-primary-900')
        });
  
        button.classList.add('bg-primary-500', 'text-white')
        button.classList.remove('bg-white', 'text-primary-900')
        
        const category = button.dataset.categorybutton;
        document.dispatchEvent(new CustomEvent('filterEvents', {
          detail: category
        }));
      });
    });
  })
</script>