---
import Layout from "@/layouts/Layout.astro"
import SelectYourEliteBrother from "@/sections/SelectYourEliteBrother.astro"

---
<Layout
  title="Negros mayores - Hermandad Gamonalense - Tayta Niño 2024"
  description="Información de los hermanos negros mayores."
  canonical="https://hermandad-gamonalense-oficial.vercel.app/"
>
  <main>
    <SelectYourEliteBrother />
  </main>
</Layout>