---
import Layout from "@/layouts/Layout.astro"
import BrothersCarousel from "@/components/gallery/BrothersCarousel.astro"
import { BROTHERS } from "@/consts/brothers"
import Typography from "@/components/Typography.astro";
import type { Preload } from "@/types/Preload";

const eliteBrothers = BROTHERS.filter(brother => brother.yearsElite && brother.yearsElite.length > 0);

function shuffleArray<T>(array: T[]): T[] {
  const shuffledArray = [...array];
  
  for (let i = shuffledArray.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [shuffledArray[i], shuffledArray[j]] = [shuffledArray[j], shuffledArray[i]];
  }
  
  return shuffledArray;
}

const randomizedEliteBrothers = eliteBrothers && eliteBrothers.length > 0 ? shuffleArray(eliteBrothers) : [];

const carouselItems = randomizedEliteBrothers.map(brother => ({
  id: brother.id,
  name: brother.name,
  imageSrc: `/img/brothers/${brother.id}-big.webp`,
  altText: `Imagen de ${brother.name}`,
  yearsElite: brother.yearsElite || []
}));

const preloadEventImages: Preload[] = carouselItems && carouselItems.length > 0 ? [
	{
		as: "image",
    href: carouselItems[0].imageSrc,
		type: "image/webp",
		rel: "preload",
	},
	{
		as: "image",
    href: carouselItems[1].imageSrc,
		type: "image/webp",
		rel: "preload",
	},
	{
		as: "image",
    href: carouselItems[carouselItems.length - 1].imageSrc,
		type: "image/webp",
		rel: "preload",
	}
] : [];
---
<Layout
  title="Negros mayores - Hermandad Gamonalense - Tayta Niño 2025"
  description="Información de los hermanos negros mayores."
  canonical="https://hermandad-gamonalense-oficial.vercel.app/"
	preload={preloadEventImages}
>
  <main class="relative">
    <section class="hero-section relative overflow-hidden">
      <div class="container mx-auto px-4 relative z-10">
        <Typography as="h1" variant="h1" color="primary400">
          Negros Mayores
        </Typography>
        
        <p class="text-lg md:text-xl text-primary text-center max-w-2xl mx-auto mb-8 opacity-90">
          Conoce a nuestros hermanos que han sido negros mayores a lo largo de los años. </br>
          Cada uno de ellos ha dejado una huella imborrable en la <strong class="text-primary-400">Hermandad Gamonalense</strong>, demostrando compromiso, liderazgo y devoción a <strong class="text-primary-400">Tayta</strong> <strong class="text-red-400">Niño</strong>. </br>
          Descubre sus historias y trayectorias en esta sección especial dedicada a quienes han llevado con orgullo este importante rol.
        </p>
      </div>
    </section>
    
    <div class="carousel-section py-12">
      <div class="container mx-auto px-4">
        {carouselItems && carouselItems.length > 0 && (
          <BrothersCarousel items={carouselItems} />
        )}
      </div>
    </div>
  </main>
</Layout>
