---
import Layout from "@/layouts/Layout.astro";

import Countdown from "@/sections/Countdown.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
---

<Layout
  title="Hermandad Gamonalense - Chinchilpos y Gamonales - 2025"
  description="Grupo del bando de Gamonales de la fiesta patronal de Huayucachi, Chinchilpos y Gamonales. Zumbanacuy"
>
  <Hero />
  <main>
    <PrincipalDate />
    <Info />
    <Countdown />
  </main>
</Layout>
