---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hermandad Gamonalense">
	<main>
		<h1 class="text-white animate-blurred-fade-in">Hermandad Gamonalense</h1>
		<p>¡Bienvenidos a la web de la Hermandad Gamonalense!</p>
		<p>Esta es la página principal de la web de la Hermandad Gamonalense. Aquí podrás encontrar información sobre la hermandad, sus actividades y eventos, y mucho más.</p>
		<p>¡Esperamos que disfrutes de tu visita!</p>
	</main>
</Layout>