<div class="container">
  <div class="slider">
    <div class="item">
      <div class="content">
        <div class="name"></div>
        <div class="description"></div>
        <button>See More</button>
      </div>
    </div>
  </div>
  <div class="button">
    <button class="prev"></button>
    <button class="next"></button>
  </div>
</div>