---
import Twitch from "@/icons/twitch.astro";

---

<section class="flex flex-col font-medium text-tertiary gap-y-10 my-32">
    <div class="flex justify-center items-center">
        <a
            href="#"
            onclick="return false;"
            target="_blank"
            rel="noopener noreferrer"
		    class="group/twitch mb-8 mt-0"
            title="Sigue la transmisión en vivo en Twitch"
        >
            <div
                class=" hover:text-primary mx-auto -mt-8 mb-4 w-14 scale-75 duration-200 group-hover/twitch:scale-90 motion-safe:transition md:-mt-8 md:mb-9 md:scale-110 md:group-hover/twitch:scale-125"
            >
                <Twitch class="w-20 h-20" />
            </div>
        </a>
    </div>
    <div class="flex flex-col lg:flex-row uppercase text-center gap-x-10">
        <article class="order-2 md:order-1 flex justify-center items-center text-xl py-10 px-10 md:border-y-2 border-primary-600">
            <h5>
                Presentación, Pesaje, Entrevista.
            </h5>
        </article>

        <article class="order-1 md:order-1 col-span-2 border-y-2 flex justify-center items-center text-2xl py-10 px-10 md:border-y-4 border-primary-600">
            <h4>
                <a
                    class="hover:scale-110 hover:text-purple-800 transition inline-block"
                    href="#"
                    target="_blank"
                    rel="nofollow noopener"
                >
                    Siguelo en directo twitch.tv/vaayroonyt
                </a>
            </h4>
        </article>

        <article class="order-3 md:order-1 flex justify-center items-center text-xl py-10 px-10 border-y-2 border-primary-600">
            <h5>Con la presencia de los negros.</h5>
        </article>
    </div>
</section>