---
import Action from "@/components/Action.astro";
import ActionContainer from "@/components/ActionContainer.astro";
import ActionGroup from "@/components/ActionGroup.astro";
import CalendarButton from "@/components/CalendarButton.astro";
import Typography from "@/components/Typography.astro";
import MapMarker from "@/icons/map-marker.astro";
---

<section
  class="text-primary text-center mt-24 mx-auto flex flex-col justify-center items-center"
>
  <header class="text-3xl font-semibold uppercase md:text-5xl">
    <time class="date inline-block"></time>
    <time class="year inline-block"></time>
    <span class="date-time-separator hidden">
      <span aria-hidden="true" class="mx-1 hidden md:inline">·</span>
      <br aria-hidden="true" class="block md:hidden" />
    </span>
    <time class="time hidden"></time>
  </header>

  <Typography
    as="h2"
    variant="h2"
    color="primary"
    class:list={"group hover:text-primary-400 underline-transition mt-6 flex max-w-sm flex-col transition-all duration-300 ease-in-out motion-reduce:transition-none"}
  >
    <a
      class="flex flex-col"
      href="https://maps.app.goo.gl/zV19x6i4hoKyHV1V7"
      target="_blank"
      rel="noopener"
      aria-label="Ubicación de la plaza principal de Huayucachi se abrirá en una nueva pestaña"
    >
      <span>Tayta Niño</span>
      <span>Chinchilpos y Gamonales</span>
      <span
        class="flex flex-row justify-center"
      >
        <MapMarker class="mr-1 max-md:mt-1 md:mt-0.5 md:size-6"/>
        Huayucachi
      </span>
    </a>
  </Typography>

  <footer
    class="scroll-horizontal items-top mt-6 flex flex-col flex-wrap justify-center items-center content-center gap-9 "
  >
    <!-- <div>
			<Action
				class="w-full text-base"
				as="a"
				href="https://hermandadgamonalense.store/"
				target="_blank"
				rel="noopener noreferrer"
        aria-disabled="true"
				aria-label="Ir a la tienda oficial, se abrirá en una nueva pestaña"
			>
				Ir a la tienda oficial
			</Action>
		</div> -->
    <ActionContainer
      class="w-96 lg:w-full flex justify-start items-center px-6 pb-4 gap-x-5"
    >
      <ActionGroup
        class="w-full text-sm"
        label="Edición 2025"
      >
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=RKBu2EkJdvM"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al zumbanacuy del día 1, se abrirá en una nueva pestaña"
        >
          Zumba Día 1
        </Action>
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=AGSY91m7FuA"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al zumbanacuy del día 2, se abrirá en una nueva pestaña"
        >
          Zumba Día 2
        </Action>
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=NhGwWmPSVCE"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al desfile, se abrirá en una nueva pestaña"
        >
          Fútbol
        </Action>
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=KPinAvAyVFw"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al desfile, se abrirá en una nueva pestaña"
        >
          Desfile
        </Action>
      </ActionGroup>
      <ActionGroup
        label="Edición 2024"
      >
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=UTWO1rgo2W4"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al zumbanacuy del día 2, se abrirá en una nueva pestaña"
        >
          Zumba
        </Action>
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=4_r4ZLrQUhk"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al desfile, se abrirá en una nueva pestaña"
        >
          Fútbol
        </Action>
        <Action
          class="w-full text-sm skew-x-[0deg]"
          as="a"
          href="https://www.youtube.com/watch?v=lLDaFTvi-rg"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir al desfile, se abrirá en una nueva pestaña"
        >
          Desfile
        </Action>
      </ActionGroup>
    </ActionContainer>
    <div>
      <CalendarButton />
    </div>
  </footer>
</section>

<script>
  import { EVENT_TIMESTAMP, timeZoneAbbreviations } from "@/consts/event-date";
  import { $ } from "@/lib/dom-selector";

  function getUserTimeZone(): string {
    return Intl.DateTimeFormat().resolvedOptions().timeZone;
  }

  function formatEventYear(timestamp: number, timeZone: string): string {
    const options: Intl.DateTimeFormatOptions = {
      year: "numeric",
      timeZone,
    };
    return new Intl.DateTimeFormat("es-PE", options).format(
      new Date(timestamp)
    );
  }

  function formatEventDate(timestamp: number, timeZone: string): string {
    const options: Intl.DateTimeFormatOptions = {
      day: "numeric",
      month: "long",
      timeZone,
    };
    return new Intl.DateTimeFormat("es-PE", options).format(
      new Date(timestamp)
    );
  }

  function formatEventTimeWithTimeZoneName(
    timestamp: number,
    timeZone: string
  ): string {
    const formattedTime = new Intl.DateTimeFormat("es-PE", {
      hour: "numeric",
      minute: "numeric",
      hour12: false,
      timeZone,
    }).format(new Date(timestamp));

    const timeZoneName =
      timeZoneAbbreviations[timeZone] ||
      new Intl.DateTimeFormat("es-PE", {
        timeZone,
        timeZoneName: "short",
      })
        .formatToParts(new Date(timestamp))
        .find((part) => part.type === "timeZoneName")?.value;

    return `${formattedTime} ${timeZoneName}`;
  }

  function formatValidDatetime(timestamp: number, timeZone: string): string {
    const options: Intl.DateTimeFormatOptions = {
      year: "numeric",
      month: "2-digit",
      day: "2-digit",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
      timeZone,
      hour12: false,
    };
    return new Intl.DateTimeFormat("en-CA", options).format(
      new Date(timestamp)
    );
  }

  function updateUI(
    yearString: string,
    dateString: string,
    timeString: string,
    validDatetime: string,
    {
      showTime = true,
    }: {
      showTime?: boolean;
    }
  ) {
    const $yearSpan = $(".year");
    const $dateSpan = $(".date");
    const $timeSpan = $(".time");
    const $dateSeparator = $(".date-time-separator");

    if ($yearSpan != null) {
      $yearSpan.innerHTML = yearString;
      $yearSpan.setAttribute("datetime", validDatetime);
    }

    if ($dateSpan != null) {
      $dateSpan.innerHTML = dateString;
      $dateSpan.setAttribute("datetime", validDatetime);
    }

    if ($timeSpan != null && showTime) {
      $timeSpan.innerHTML = timeString;
      $timeSpan.setAttribute("datetime", validDatetime);
      $timeSpan?.classList.remove("hidden");
      $dateSeparator?.classList.remove("hidden");
    }
  }

  function main() {
    const USER_TZ = getUserTimeZone();
    const formattedYear = formatEventYear(EVENT_TIMESTAMP, USER_TZ);
    const formattedDate = formatEventDate(EVENT_TIMESTAMP, USER_TZ);
    const formattedTime = formatEventTimeWithTimeZoneName(
      EVENT_TIMESTAMP,
      USER_TZ
    );
    const validDatetime = formatValidDatetime(EVENT_TIMESTAMP, USER_TZ);

    updateUI(formattedYear, formattedDate, formattedTime, validDatetime, {
      showTime: true,
    });
  }

  document.addEventListener("astro:page-load", main);

  const eventHasPassed = EVENT_TIMESTAMP < Date.now();
  if (eventHasPassed) {
    const addToCalendarBtn = $("#add-to-calendar");
    if (addToCalendarBtn) {
      addToCalendarBtn.remove();
    }
  }
</script>
