<section class="mt-32 mx-auto flex flex-col justify-center items-center text-center text-tertiary">
    <h2 class="uppercase text-5xl font-semibold">
        27 de Enero<span aria-hidden class="hidden md:inline mx-1">.</span><br
            aria-hidden
            class="block md:hidden"
        /> 10:00h CET
    </h2>
    <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
        <span>Chinchilpos y Gamonales</span>
        <span>Estadio Municipal (Huayucachi)</span>
    </h3>
    <a
        class={`border-primary border-2 rounded-lg
        bg-primary text-primary-950
        font-medium uppercase text-lg
        px-6 py-1 mt-8
        hover:bg-secondary hover:scale-125
        `}
        href="https://www.youtube.com/watch?v=UTWO1rgo2W4"
        target="_blank"
        rel="noopener noreferrer"
    >
        Edición 2024
    </a>
</section>