---
// Supports weights 100-900
import '@fontsource-variable/jost';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hermandad Gamonalense - Chinchilpos y Gamonales 2025 - Fiesta patronal Huayucachi" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://hermandad-gamonalense-oficial.vercel.app/">
		<title>{title}</title>
	</head>
	<body>
		<div class="max-w-6xl px-2 lg:px-10 pt-20 mx-auto">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--background-twitch: var(--color-twitch-ice);
		--color-twitch: #9146ff;
		--color-twitch-ice: #f0f0ff;
	}
	html {
		font-family: 'Jost Variable' system-ui, sans-serif;
		background: #ddd;
	}
</style>
