---
import Layout from '@/layouts/Layout.astro';
import EventFilter from '@/components/events/EventFilter.astro';
import EventList from '@/components/events/EventList.astro';
import EventHero from '@/sections/events/EventHero.astro';
import { EVENTS } from "@/consts/events"
import { EVENT_CATEGORIES } from "@/consts/event-category"

---

<Layout
  title="Eventos - Hermandad Gamonalense - Chinchilpos y Gamonales - 2025"
  description="Grupo del bando de Gamonales de la fiesta patronal de Huayucachi, Chinchilpos y Gamonales. Zumbanacuy"
  canonical="https://hermandadgamonalense.com/"
>
  <main>
    <EventHero />
    <EventFilter categories={EVENT_CATEGORIES} />
    <EventList events={EVENTS} />
  </main>
</Layout>